@import "_global";
@import "_variables";

body {
  background-color: $Very-dark-blue;
}

main {
  display: grid;
  margin: 20px;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
}

.dashboard {
  max-width: 255px;
  min-height: 520px;
  text-align: left;
  background-color: $Dark-blue;
  border-radius: 15px;
  grid-row: span 2;
  .profile {
    background-color: $Blue;
    padding: 33px;
    height: 68%;
    border-radius: 15px;
    img {
      display: block;
      width: 100%;
      height: auto;
      max-width: 82px;
      border-radius: 50%;
      border: 3px white solid;
      margin-bottom: 40px;
    }
    div {
      p {
        color: $Pale-Blue;
        font-size: 1.5rem;
      }
      h1 {
        color: white;
        font-weight: 300;
        font-size: 4rem;
      }
    }
  }
  .buttons-group {
    padding: 30px 33px 35px;
    height: 32%;
    max-height: 165px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .button {
      text-decoration: none;
      color: $Unsaturated-blue;
      width: 82px;
    }
    .button:hover {
      transition: color 0.2s ease;
      color: white;
    }
    .button:focus{
      color: white;
    }
  }
}

.container {
  border-radius: 15px 15px 20px 20px;
  height: 245px;
  width: 250px;

  .bg {
    text-align: right;
    padding: 0px 17px;
    height: 18.4%;
    overflow: hidden;

    img {
      position: relative;
      top: -10px;
      display: inline-block;
    }
  }

  .stats {
    background-color: $Dark-blue;
    color: white;
    padding: 30px 30px 35px;
    height: 81.7%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    .title {
      display: flex;
      justify-content: space-between;

      h3 {
        font-weight: 400;
      }

      img {
        object-fit: none;
        display: block;
        border-radius: 50%;
        cursor: pointer;
        padding: 3px;
      }
      img:hover{
        filter: brightness(2);
        background-color: hsla(1, 0%, 1%, 0.2);
      }
    }

    .value {
      .actual {
        font-size: 5.5rem;
        font-weight: 300;
        margin-bottom: 8px;
      }
      .previous {
        font-size: 1.5rem;
        font-weight: 300;
        color: $Pale-Blue;
      }
    }
  }
  .stats:hover{
    transition: background-color 0.3s ease;
    background-color: $Blue;
  }
  
}

.work {
  background-color: $Light-red-work;
}

.play {
  background-color: $Soft-blue-play;
}

.study {
  background-color: $Light-red-study;
}

.exercise {
  background-color: $Lime-green-exercise;
  .bg {
    img {
      position: relative;
      top: 0px;
    }
  }
}

.social {
  background-color: $Violet-social;
  .bg {
    img {
      position: relative;
      top: -15px;
    }
  }
}

.self-care {
  background-color: $Soft-orange-self-care;
}

@media only screen and (max-width: 1150px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
  .dashboard {
    grid-row: span 3;
    .profile {
      height: 43%;
    }
  }
}

@media only screen and (max-width: 850px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
  .dashboard {
    grid-column: span 2;
    grid-row: span 1;
    max-width: none;
    min-height: 250px;
    height: 250px;

    .profile {
      height: 68%;
      display: flex;
      align-items: center;
      gap: 20px;
      img {
        margin: 0;
      }
    }
    .buttons-group {
      padding: 20px 50px 20px;
      height: 32%;
      flex-direction: row;
      align-items: center;
      font-size: 2rem;
    }
  }
}

@media only screen and (max-width: 590px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  
  .dashboard{
    grid-column: span 1;
    grid-row: span 1;
    min-height: 200px;
    height: 200px;
  }

  .container{
    width: 100%;
    height: 160px;
    .stats{
      padding: 25px 30px;
      .title{
        font-size: 2rem;
      }
      .value{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .actual{
          font-size: 4rem;
          margin: 0;
        }
        .previous{
          font-size: 2rem;
          white-space: nowrap;
        }
      }
    }
  }
}
